/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path name;

At the bottom of this section, we provide information about the spritesheet itself
@spritesheet: width height image @spritesheet-sprites;
*/
@icon-arrow-gray-name: 'icon-arrow-gray';
@icon-arrow-gray-x: 227px;
@icon-arrow-gray-y: 0px;
@icon-arrow-gray-offset-x: -227px;
@icon-arrow-gray-offset-y: 0px;
@icon-arrow-gray-width: 17px;
@icon-arrow-gray-height: 19px;
@icon-arrow-gray-total-width: 244px;
@icon-arrow-gray-total-height: 210px;
@icon-arrow-gray-image: '../assets/icons/sprite.png';
@icon-arrow-gray: 227px 0px -227px 0px 17px 19px 244px 210px '../assets/icons/sprite.png' 'icon-arrow-gray';
@icon-arrow-green-name: 'icon-arrow-green';
@icon-arrow-green-x: 227px;
@icon-arrow-green-y: 29px;
@icon-arrow-green-offset-x: -227px;
@icon-arrow-green-offset-y: -29px;
@icon-arrow-green-width: 17px;
@icon-arrow-green-height: 19px;
@icon-arrow-green-total-width: 244px;
@icon-arrow-green-total-height: 210px;
@icon-arrow-green-image: '../assets/icons/sprite.png';
@icon-arrow-green: 227px 29px -227px -29px 17px 19px 244px 210px '../assets/icons/sprite.png' 'icon-arrow-green';
@icon-arrow-white-name: 'icon-arrow-white';
@icon-arrow-white-x: 173px;
@icon-arrow-white-y: 93px;
@icon-arrow-white-offset-x: -173px;
@icon-arrow-white-offset-y: -93px;
@icon-arrow-white-width: 38px;
@icon-arrow-white-height: 39px;
@icon-arrow-white-total-width: 244px;
@icon-arrow-white-total-height: 210px;
@icon-arrow-white-image: '../assets/icons/sprite.png';
@icon-arrow-white: 173px 93px -173px -93px 38px 39px 244px 210px '../assets/icons/sprite.png' 'icon-arrow-white';
@icon-cold-name: 'icon-cold';
@icon-cold-x: 0px;
@icon-cold-y: 0px;
@icon-cold-offset-x: 0px;
@icon-cold-offset-y: 0px;
@icon-cold-width: 78px;
@icon-cold-height: 78px;
@icon-cold-total-width: 244px;
@icon-cold-total-height: 210px;
@icon-cold-image: '../assets/icons/sprite.png';
@icon-cold: 0px 0px 0px 0px 78px 78px 244px 210px '../assets/icons/sprite.png' 'icon-cold';
@icon-electro-name: 'icon-electro';
@icon-electro-x: 173px;
@icon-electro-y: 0px;
@icon-electro-offset-x: -173px;
@icon-electro-offset-y: 0px;
@icon-electro-width: 44px;
@icon-electro-height: 83px;
@icon-electro-total-width: 244px;
@icon-electro-total-height: 210px;
@icon-electro-image: '../assets/icons/sprite.png';
@icon-electro: 173px 0px -173px 0px 44px 83px 244px 210px '../assets/icons/sprite.png' 'icon-electro';
@icon-facebook-name: 'icon-facebook';
@icon-facebook-x: 0px;
@icon-facebook-y: 180px;
@icon-facebook-offset-x: 0px;
@icon-facebook-offset-y: -180px;
@icon-facebook-width: 29px;
@icon-facebook-height: 30px;
@icon-facebook-total-width: 244px;
@icon-facebook-total-height: 210px;
@icon-facebook-image: '../assets/icons/sprite.png';
@icon-facebook: 0px 180px 0px -180px 29px 30px 244px 210px '../assets/icons/sprite.png' 'icon-facebook';
@icon-fax-name: 'icon-fax';
@icon-fax-x: 156px;
@icon-fax-y: 180px;
@icon-fax-offset-x: -156px;
@icon-fax-offset-y: -180px;
@icon-fax-width: 19px;
@icon-fax-height: 19px;
@icon-fax-total-width: 244px;
@icon-fax-total-height: 210px;
@icon-fax-image: '../assets/icons/sprite.png';
@icon-fax: 156px 180px -156px -180px 19px 19px 244px 210px '../assets/icons/sprite.png' 'icon-fax';
@icon-instagram-name: 'icon-instagram';
@icon-instagram-x: 39px;
@icon-instagram-y: 180px;
@icon-instagram-offset-x: -39px;
@icon-instagram-offset-y: -180px;
@icon-instagram-width: 29px;
@icon-instagram-height: 30px;
@icon-instagram-total-width: 244px;
@icon-instagram-total-height: 210px;
@icon-instagram-image: '../assets/icons/sprite.png';
@icon-instagram: 39px 180px -39px -180px 29px 30px 244px 210px '../assets/icons/sprite.png' 'icon-instagram';
@icon-keys-name: 'icon-keys';
@icon-keys-x: 88px;
@icon-keys-y: 86px;
@icon-keys-offset-x: -88px;
@icon-keys-offset-y: -86px;
@icon-keys-width: 68px;
@icon-keys-height: 68px;
@icon-keys-total-width: 244px;
@icon-keys-total-height: 210px;
@icon-keys-image: '../assets/icons/sprite.png';
@icon-keys: 88px 86px -88px -86px 68px 68px 244px 210px '../assets/icons/sprite.png' 'icon-keys';
@icon-light-name: 'icon-light';
@icon-light-x: 0px;
@icon-light-y: 88px;
@icon-light-offset-x: 0px;
@icon-light-offset-y: -88px;
@icon-light-width: 70px;
@icon-light-height: 82px;
@icon-light-total-width: 244px;
@icon-light-total-height: 210px;
@icon-light-image: '../assets/icons/sprite.png';
@icon-light: 0px 88px 0px -88px 70px 82px 244px 210px '../assets/icons/sprite.png' 'icon-light';
@icon-linkedin-name: 'icon-linkedin';
@icon-linkedin-x: 78px;
@icon-linkedin-y: 180px;
@icon-linkedin-offset-x: -78px;
@icon-linkedin-offset-y: -180px;
@icon-linkedin-width: 29px;
@icon-linkedin-height: 30px;
@icon-linkedin-total-width: 244px;
@icon-linkedin-total-height: 210px;
@icon-linkedin-image: '../assets/icons/sprite.png';
@icon-linkedin: 78px 180px -78px -180px 29px 30px 244px 210px '../assets/icons/sprite.png' 'icon-linkedin';
@icon-m-name: 'icon-m';
@icon-m-x: 88px;
@icon-m-y: 0px;
@icon-m-offset-x: -88px;
@icon-m-offset-y: 0px;
@icon-m-width: 75px;
@icon-m-height: 76px;
@icon-m-total-width: 244px;
@icon-m-total-height: 210px;
@icon-m-image: '../assets/icons/sprite.png';
@icon-m: 88px 0px -88px 0px 75px 76px 244px 210px '../assets/icons/sprite.png' 'icon-m';
@icon-placeholder-name: 'icon-placeholder';
@icon-placeholder-x: 173px;
@icon-placeholder-y: 142px;
@icon-placeholder-offset-x: -173px;
@icon-placeholder-offset-y: -142px;
@icon-placeholder-width: 20px;
@icon-placeholder-height: 20px;
@icon-placeholder-total-width: 244px;
@icon-placeholder-total-height: 210px;
@icon-placeholder-image: '../assets/icons/sprite.png';
@icon-placeholder: 173px 142px -173px -142px 20px 20px 244px 210px '../assets/icons/sprite.png' 'icon-placeholder';
@icon-telephone-name: 'icon-telephone';
@icon-telephone-x: 185px;
@icon-telephone-y: 180px;
@icon-telephone-offset-x: -185px;
@icon-telephone-offset-y: -180px;
@icon-telephone-width: 19px;
@icon-telephone-height: 19px;
@icon-telephone-total-width: 244px;
@icon-telephone-total-height: 210px;
@icon-telephone-image: '../assets/icons/sprite.png';
@icon-telephone: 185px 180px -185px -180px 19px 19px 244px 210px '../assets/icons/sprite.png' 'icon-telephone';
@icon-twitter-name: 'icon-twitter';
@icon-twitter-x: 117px;
@icon-twitter-y: 180px;
@icon-twitter-offset-x: -117px;
@icon-twitter-offset-y: -180px;
@icon-twitter-width: 29px;
@icon-twitter-height: 30px;
@icon-twitter-total-width: 244px;
@icon-twitter-total-height: 210px;
@icon-twitter-image: '../assets/icons/sprite.png';
@icon-twitter: 117px 180px -117px -180px 29px 30px 244px 210px '../assets/icons/sprite.png' 'icon-twitter';
@spritesheet-width: 244px;
@spritesheet-height: 210px;
@spritesheet-image: '../assets/icons/sprite.png';
@spritesheet-sprites: @icon-arrow-gray @icon-arrow-green @icon-arrow-white @icon-cold @icon-electro @icon-facebook @icon-fax @icon-instagram @icon-keys @icon-light @icon-linkedin @icon-m @icon-placeholder @icon-telephone @icon-twitter;
@spritesheet: 244px 210px '../assets/icons/sprite.png' @spritesheet-sprites;

/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.sprite-width(@sprite) {
  width: extract(@sprite, 5);
}

.sprite-height(@sprite) {
  height: extract(@sprite, 6);
}

.sprite-position(@sprite) {
  @sprite-offset-x: extract(@sprite, 3);
  @sprite-offset-y: extract(@sprite, 4);
  background-position: @sprite-offset-x @sprite-offset-y;
}

.sprite-image(@sprite) {
  @sprite-image: extract(@sprite, 9);
  background-image: e(%('url(%a)', e(@sprite-image)));
}

.sprite(@sprite) {
  .sprite-image(@sprite);
  .sprite-position(@sprite);
  .sprite-width(@sprite);
  .sprite-height(@sprite);
}

/*
The `.sprites` mixin generates identical output to the CSS template
  but can be overridden inside of LESS

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

.sprites(@spritesheet-sprites);
*/
.sprites(@sprites, @i: 1) when (@i <= length(@sprites)) {
  @sprite: extract(@sprites, @i);
  @sprite-name: e(extract(@sprite, 10));
  .@{sprite-name} {
    .sprite(@sprite);
  }
  .sprites(@sprites, @i + 1);
}
