@import '../fonts/fonts.less';
@import '../sprite/sprite.less';

@color_white:#ffffff;
@color_black:#000000;
@color_scrollbar-track: @color_white;
@color_scrollbar-thumb: #cccccc;

@color_lightGreen: #16E0D4;
@color_blueDark:#2F3D4E;
@color_blueDark3F:#3F5672;
@color_blue:#38495F;
@color_lightBlue:#95B3D6;
