.page{
    &__title{
        &-h1{
            font-family: @fontRegular;
            font-style: normal;
            font-weight: 600;
            font-size: 75px;
            line-height: 121.18%; // 91px
            letter-spacing: -0.025em;
            color: @color_white;
        }

    }
    &__text{
        font-family: @fontRegular;
        font-size: 18px;
        font-weight: 300;
        font-style: normal;
        line-height: 148.9%; // 27px
        letter-spacing: -0.01em;
        color: @color_white;
    }
}