.services{
    background-color: @color_blue;
    position: relative;
    padding-left: 7%;
    overflow: hidden;
    &-items{
        &-wrapper{
            overflow-x: scroll;
            overflow-y: hidden;
            &::-webkit-scrollbar {
                width: 5px;
                height: 0px;
            }

        }
        .row-flex();
        padding: 7.5% 0;
        // overflow: scroll;
        flex-wrap: nowrap;
        // justify-content: space-between;
        // position: absolute;
        position: relative;
        // width: 100%;
        width: 2200px;
        // fixme px
        &__item{
            .size(2.1);
            .page__icon{
                min-height: 90px;
            }
           
            &:nth-of-type(2){
                .size(2.55);
            }
            &:nth-of-type(3){
                .size(2.2);
            }
            &:nth-of-type(4){
                .size(2.4);
            }
            //  &:nth-of-type(n + 3){
            //     .size(2.2);
            // }
           

        }
       
    }
    .page__title-h2,
    .page__title-h3{
        color: @color_white;
    }
    .page__title-h2{
        // line-height: 99px;
        line-height: 66%;
    }
    .page__title-h3{
        margin: 34px 0 16px;
    }
    .page__btn{
        position: absolute;
        right: 0;
        top: 0;
    }
}