section.about.isAnimate
    .about__media
        .page_bg-opacity-blueDark
        img.page__img(src="assets/img/img-about.png", alt="")
    .about__content
        .page__subtitle
            span.page_bold With more than 1500 employees and 13&nbsp;offices nationwide,
            | Rogers is&nbsp;the largest self-performing electrical and lighting contractor in&nbsp;the&nbsp;US.
    .about__content
        .about__content-text
            .page__text Rogers is&nbsp;the leading facility service provider for all of&nbsp;your electrical, lighting, HVAC, plumbing, distribution and contractor service needs. With 37&nbsp;years of&nbsp;experience, our highly trained technicians and fully stocked fleet guarantee we&nbsp;meet your requests in&nbsp;a&nbsp;timely and cost effective manner while delivering top quality service.
            .page__text With licenses in&nbsp;48&nbsp;states and technicians servicing locally, Rogers has the capabilities to&nbsp;provide solutions to&nbsp;your rollout, on-demand, preventative maintenance and installation needs.
            .page__text As&nbsp;a&nbsp;self-performing service provider, Rogers specializes in&nbsp;providing management, labor, materials and equipment to&nbsp;install and maintain electrical, lighting, HVAC, plumbing and other facility solutions.
            .page__text Over the past 37&nbsp;years our divisions have developed, our team has grown, and our capabilities have become stronger, but one promise has always rang true at&nbsp;Rogers and remains true today. We&nbsp;have the power to&nbsp;get the job done.
    .about__media
        .page__video

            <iframe class="vimeo-player" title="vimeo-player" src="https://player.vimeo.com/video/491692296" frameborder="0" allowfullscreen></iframe>
            //- button.page__btn.page__btn_play
            //-     .page__icon_play