section.banner.isAnimate
    .banner__content
        .banner__content_bg
        .banner__content-text
            .page__logo
                img.page__img(src="assets/img/logo.png", alt="")
            h1.page__title-h1 The Leading Facility Service Provider
            p.page__text for all of your electrical, lighting, HVAC, plumbing, distribution and contractor service needs.
    .banner__bg