section.contact
    .contact_bg
    .contact-content
        .contact-content__text
            h2.page__title-h2 Contact us
            p.page__text Please fill out the form below and our team will be in touch with you promptly. From maintenance to performance, let us get the job done for you.
            a.page__link.page__link_arrow-gray(href="javascript:void(0)") Submit
        .contact-content__info
            h4.page__title-h4 Rogers Corporate Office
            address.page_address
                .page__text 2050 Marconi Drive, Suite 100 Alpharetta, GA 30005
            a.page__link.page__link_phone(href="tel:770-772-3400") 770-772-3400
            a.page__link.page__link_fax(href="fax:1-866-592-9161") 1-866-592-9161
    .contact-map
        picture
            sourse(srcset='assets/img/img-map.png')
            img(src="assets/img/img-map.png", alt="")