section.follow
    .follow-links
        h3.page__title-h3 Follow us:
        .page__links
            a.page__link(href="javascript:void(0)")
                .page__icon.page__icon_tw
            a.page__link(href="javascript:void(0)")
                .page__icon.page__icon_fb
            a.page__link(href="javascript:void(0)")
                .page__icon.page__icon_inst
            a.page__link(href="javascript:void(0)")
                .page__icon.page__icon_in
    .follow-img
        .follow-img_bg
        //- img(src="assets/img/img-bg-follow.webp", alt="")
