mixin item(icon, title)
    .services-items__item
            .page__icon
                img(src=icon, alt="icon")
            h3.page__title-h3=title
            a.page__link.page__link_arrow-green(href="javascript:void(0)") Read more
section.services
    h2.page__title-h2 Services
    button.page__btn
        .page__icon.page__icon_arrow-white
    .services-items
        +item("assets/img/icon-electro.png","Electrical")
        +item("assets/img/icon-keys.png","Construction")
        +item("assets/img/icon-light.png","Lightning")
        +item("assets/img/icon-distribution.png","Distribution")
        +item("assets/img/icon-cold.png","HVAC")