extends templates/template

block title
	title Rogersservices
block append style
block content
	include modules/header-module
	main.page
		include blocks/banner
		include blocks/about
		include blocks/services
		include blocks/projects
		include blocks/contact
block append script